@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Almarai", sans-serif !important;
}

.article-category {
  padding: 5px 10px;
  background-color: #B80000;
  color: #fff;
  margin-left: 10px;
}
.article-title {
  font-size: 15px;
  display: inline;
  color: #000;
}
.article-link {
  text-decoration: none;
  color: #000;
}
.article-link img {
  transition: all 0.3s;
}
.article-link:hover .article-title {
  text-decoration: underline;
}
.article-link:hover img {
  transform: scale(1.02);
}

.section-title {
  line-height: 50px;
  position: relative;
  margin-right: 30px;
  margin-bottom: 40px;
}
.section-title::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 100%;
  top: 0;
  right: -30px;
  background-color: #B80000;
}

.button {
  background-color: #B80000;
  color: #fff;
  border: 1px solid #B80000;
  padding: 5px 30px;
  border-radius: 5px;
  transition: all 0.5s;
  text-decoration: none;
  font-size: 20px;
}
.button:hover {
  background-color: #fff;
  color: #B80000;
  border: 1px solid #B80000;
}

/*========== Start Header ==========*/
header .navbar {
  padding: 10px;
  border-bottom: 1px solid #B1AEAE;
  background-color: #fff;
}
header .navbar-brand {
  color: #B80000;
  font-size: 30px;
}
header .navbar .nav-link {
  color: #000;
  font-size: 18px;
  margin-right: 10px;
  transition: all 0.5s;
}
header .navbar .nav-link:hover {
  color: #B80000;
  text-decoration: underline;
}
header .navbar .login {
  position: relative;
}
@media (max-width: 992px) {
  header .navbar .login {
    display: none;
  }
  header .navbar .login-button .button {
    display: block;
  }
}
header .navbar .login i {
  font-size: 25px;
  margin-left: 15px;
  color: #B1AEAE;
  cursor: pointer;
}
header .navbar .login-container {
  position: absolute;
  width: 250px;
  height: 65px;
  background-color: #fff;
  border: 1px solid #B1AEAE;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  top: 50px;
  right: -115px;
  visibility: hidden;
  transition: all 0.5s;
}
header .navbar .login-container::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  transform: rotate(45deg) translateX(50%);
  top: -18px;
  right: 50%;
  border-top: 1px solid #B1AEAE;
  border-left: 1px solid #B1AEAE;
}
header .navbar .login-container .button {
  background-color: #B80000;
  color: #fff;
  border: 1px solid #B80000;
  padding: 5px 30px;
  border-radius: 5px;
  transition: all 0.5s;
  text-decoration: none;
  visibility: hidden;
}
header .navbar .login-container .button:hover {
  background-color: #fff;
  color: #B80000;
  border: 1px solid #B80000;
}
header .navbar .login:hover .login-container {
  visibility: visible;
}
header .navbar .login:hover .login-container .button {
  visibility: visible;
}
header .navbar .login-button .button {
  background-color: #B80000;
  color: #fff;
  border: 1px solid #B80000;
  padding: 5px 30px;
  border-radius: 5px;
  transition: all 0.5s;
  text-decoration: none;
  font-size: 16px;
  width: 50%;
  margin: 15px auto;
  text-align: center;
  display: none;
}
header .navbar .login-button .button:hover {
  background-color: #fff;
  color: #B80000;
  border: 1px solid #B80000;
}
@media (max-width: 992px) {
  header .navbar .login-button .button {
    display: block;
  }
}
header .navbar form .search {
  border: 1px solid #B1AEAE;
}
header .navbar form .search:active, header .navbar form .search:focus, header .navbar form .search:focus:hover, header .navbar form .search:active:focus, header .navbar form .search:active:hover {
  outline: none !important;
  border: 1px solid #B80000;
}
header .navbar form .search-icon {
  padding: 2px;
}
header .navbar form .search-icon i {
  font-size: 30px;
  color: #B80000;
}
header .header-news {
  margin-top: 50px;
}
header .header-news .carousel-news {
  margin-top: 50px;
  position: relative;
}
header .header-news .carousel-news::after {
  position: absolute;
  content: "";
  left: -5px;
  top: 40%;
  transform: translateY(-50%);
  height: 200px;
  width: 15px;
  background-color: #B80000;
}
header .header-news .carousel-text {
  padding: 20px 10px 70px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  bottom: 0;
}
header .header-news .carousel-text h3 {
  font-size: 20px;
  position: relative;
  width: fit-content;
}
header .header-news .carousel-text h3::after {
  content: "";
  position: absolute;
  height: 85px;
  width: 5px;
  background-color: #B80000;
  top: -10px;
  left: -2%;
}
@media (min-width: 1200px) {
  header .header-news .carousel-text h3::after {
    left: -10%;
  }
}
@media (max-width: 991px) {
  header .header-news .carousel-text h3::after {
    left: -10%;
  }
}
@media (max-width: 767px) {
  header .header-news .carousel-text h3::after {
    display: none;
  }
}
header .header-news .carousel-indicators {
  left: -80%;
}
@media (max-width: 767px) {
  header .header-news .carousel-indicators {
    left: 0;
  }
}
header .header-news .carousel-indicators button {
  height: 20px;
  width: 20px;
  text-indent: 0;
}
header .header-news .carousel-item img {
  max-height: 490px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
header .header-news .carousel-item:hover img {
  -webkit-transform: scale(1.1) rotate(1deg);
  -moz-transform: scale(1.1) rotate(1deg);
  transform: scale(1.1) rotate(1deg);
}
header .header-news .carousel-item:hover .carousel-text {
  text-decoration: underline;
}
header .header-news .header-articles {
  margin-top: 50px;
}
header .header-news .header-articles .row {
  margin-top: 40px;
}

/*========== End Header ==========*/
/*========== Start Most Read ==========*/
.most-read {
  background-color: #F0F0F0;
}
.most-read .card-news {
  padding: 40px;
  background-color: #fff;
}
@media (max-width: 574px) {
  .most-read .card-news {
    padding: 10px;
  }
}
.most-read .card-news a {
  color: #000;
  text-decoration: none;
}
.most-read .card-news:hover h4 {
  text-decoration: underline;
}
.most-read .card-news .card-img {
  overflow: hidden;
}
.most-read .card-news .card-img img {
  transition: all 0.3s;
}
.most-read .card-news .card-img img:hover {
  transform: scale(1.05);
}
.most-read .card-text h4 {
  font-size: 30px;
}
@media (max-width: 767px) {
  .most-read .card-text h4 {
    font-size: 20px;
    margin-top: 10px;
  }
}
.most-read .card-text p {
  font-size: 14px;
  margin: 35px auto;
}
.most-read .card-text time {
  color: #B1AEAE;
  font-size: 16px;
}
.most-read .card-img {
  position: relative;
  margin-bottom: 20px;
}
.most-read .card-img::after {
  content: "";
  position: absolute;
  background-color: #B80000;
  height: 30px;
  width: 250px;
  bottom: -15px;
  right: 80px;
}

/*========== End Most Read ==========*/
/*========== Start Opinions ==========*/
.opinions a {
  text-decoration: none;
}
.opinions .opinions-card {
  padding: 20px 10px;
  background-color: rgba(184, 0, 0, 0.3);
  margin-top: 25px;
  min-height: 170px;
  transition: all 0.5s;
}
.opinions .opinions-card h5 {
  font-size: 16px;
  color: #000;
  margin-right: 15px;
  font-weight: bold;
}
.opinions .opinions-card .user-info {
  margin-top: 25px;
}
.opinions .opinions-card .user-info img {
  width: 100px;
  clip-path: circle();
}
.opinions .opinions-card .user-info span {
  font-size: 18px;
  color: #B80000;
  font-weight: bold;
}
.opinions .opinions-card:hover {
  background-color: rgba(184, 0, 0, 0.6);
}
.opinions .opinions-card:hover h5 {
  text-decoration: underline;
}

/*========== End Opinions ==========*/
/*========== Start Videos ==========*/
.videos {
  background-color: #000;
}
.videos .section-title {
  color: #fff;
}
.videos .slide-img {
  position: relative;
}
.videos .slide-img img {
  max-height: 250px;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.videos .slide-img i {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 60px;
  color: #fff;
}
.videos .slide-text {
  margin-top: 30px;
  text-align: center;
}
.videos .slide-text .article-title {
  color: #fff;
}
.videos .swiper {
  width: 100%;
  height: 100%;
  padding: 20px 0 50px;
}
.videos .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.videos .swiper-slide:hover img {
  transform: scale(1.03);
}
.videos .swiper-pagination {
  bottom: -5px;
}
.videos .swiper-pagination-bullet {
  background-color: #B1AEAE;
  width: 20px;
  height: 20px;
  margin: 10px;
}
.videos .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #B80000;
}

/*========== End Videos ==========*/
/*========== Start Latest News ==========*/
.latest-news .card-text p {
  margin-top: 10px;
  color: #000;
}

/*========== End Latest News ==========*/
/*========== Start Footer ==========*/
footer {
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  footer {
    text-align: center;
  }
}
footer .footer-title {
  margin-bottom: 30px;
  position: relative;
}
@media (max-width: 768px) {
  footer .footer-title {
    color: #B80000;
    margin-top: 20px;
  }
}
footer .footer-title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 5px;
  background-color: #B80000;
  right: 0;
  bottom: -15px;
}
@media (max-width: 768px) {
  footer .footer-title::after {
    display: none;
  }
}
footer .link-unstyled {
  text-decoration: none;
  color: #000;
}
footer .link-unstyled:hover {
  text-decoration: underline;
  color: #B80000;
}
footer .social-media {
  list-style: none;
  padding: 0;
  text-align: center;
}
footer .social-media-icon {
  display: inline-block;
  margin: 5px;
}
footer .social-media-icon img {
  width: 30px;
}
footer .footer-brand {
  color: #B80000;
  font-size: 30px;
  margin: auto;
  text-decoration: none;
}

/*========== End Footer ==========*/

/*# sourceMappingURL=style.css.map */
